/*  your css code here. If applicable */
#table-1 {
	width:100%;
}

.middle {
	text-align:center;
}

td {
	border:1px solid black;
	margin:1px;
	padding:1px;
}

#t11 {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

#table-2 {
	width:100%;
}

#t21 {
	height:15px;
}

#table-3 {
	width:100%;
}

#t-image {
	height:180px;
}

#t31 {
	height:15px
}

#t32 {
	text-align:center;
}